<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Home', root_path, class: 'btn btn-primary'  %>

<i class="fa-brands fa-amazon"></i>


<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>


<%= image_tag "logo.png", alt: "Logo Le Wagon, voiture rouge", width: 200 %>
<br>

<div class="logo"></div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
data-controller="navbar"
data-action='scroll@window->navbar#updateNavbar'>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Suscipit adipiscing bibendum est ultricies integer quis. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Vitae tempus quam pellentesque nec. Est velit egestas dui id ornare arcu odio. Ut sem viverra aliquet eget sit. Pharetra diam sit amet nisl. Pharetra et ultrices neque ornare aenean euismod. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Facilisi etiam dignissim diam quis enim lobortis scelerisque. In fermentum posuere urna nec. Scelerisque purus semper eget duis at tellus. Adipiscing enim eu turpis egestas pretium. Duis tristique sollicitudin nibh sit amet commodo nulla. Est ullamcorper eget nulla facilisi. Diam quis enim lobortis scelerisque fermentum dui. Erat velit scelerisque in dictum non consectetur. Nec ultrices dui sapien eget mi proin sed libero.

Morbi leo urna molestie at elementum eu facilisis sed. Lacus viverra vitae congue eu consequat ac felis donec. Id interdum velit laoreet id donec ultrices tincidunt arcu. Erat nam at lectus urna duis convallis convallis tellus. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Mattis nunc sed blandit libero. Fermentum leo vel orci porta non. Amet risus nullam eget felis. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Malesuada fames ac turpis egestas sed tempus urna et pharetra.

Ut morbi tincidunt augue interdum velit euismod. Eros donec ac odio tempor. Sem fringilla ut morbi tincidunt augue interdum. Consequat id porta nibh venenatis cras sed felis eget velit. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Mattis enim ut tellus elementum sagittis vitae et. Morbi tristique senectus et netus. Vivamus arcu felis bibendum ut tristique. Nullam vehicula ipsum a arcu cursus vitae congue. Nibh sed pulvinar proin gravida hendrerit lectus. Donec pretium vulputate sapien nec sagittis aliquam. Massa placerat duis ultricies lacus sed.

A lacus vestibulum sed arcu non. Eu mi bibendum neque egestas congue. Ac turpis egestas sed tempus urna. Massa placerat duis ultricies lacus sed. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Auctor neque vitae tempus quam pellentesque. Magna fermentum iaculis eu non. Leo vel orci porta non pulvinar neque laoreet suspendisse. Id eu nisl nunc mi ipsum. A condimentum vitae sapien pellentesque. Non enim praesent elementum facilisis leo vel. Nec feugiat in fermentum posuere urna nec tincidunt. Turpis cursus in hac habitasse platea. Libero enim sed faucibus turpis in eu mi bibendum neque. Enim facilisis gravida neque convallis a. Ultricies integer quis auctor elit sed vulputate mi. Consectetur libero id faucibus nisl tincidunt. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada.

Nullam vehicula ipsum a arcu cursus. Orci dapibus ultrices in iaculis. Ut venenatis tellus in metus. Nec dui nunc mattis enim ut tellus. Sit amet consectetur adipiscing elit duis tristique. Mattis pellentesque id nibh tortor id. Ac turpis egestas integer eget. Auctor eu augue ut lectus arcu bibendum at. Donec enim diam vulputate ut. Viverra aliquet eget sit amet tellus cras adipiscing. Nec feugiat nisl pretium fusce id velit ut. Vestibulum morbi blandit cursus risus at ultrices. Felis imperdiet proin fermentum leo vel orci porta non. Commodo ullamcorper a lacus vestibulum sed arcu. At elementum eu facilisis sed odio morbi. Scelerisque purus semper eget duis at tellus at urna. Vel orci porta non pulvinar neque. Mauris vitae ultricies leo integer malesuada nunc vel. Est ullamcorper eget nulla facilisi etiam dignissim diam.

Dui ut ornare lectus sit amet est. Sed libero enim sed faucibus turpis. Ac tortor vitae purus faucibus ornare suspendisse. Ullamcorper morbi tincidunt ornare massa eget. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Odio aenean sed adipiscing diam donec. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Suspendisse faucibus interdum posuere lorem ipsum dolor sit. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum.

Vel risus commodo viverra maecenas accumsan lacus vel. Dolor sit amet consectetur adipiscing elit ut. Quam nulla porttitor massa id neque aliquam vestibulum. Et magnis dis parturient montes nascetur ridiculus. Nibh nisl condimentum id venenatis. Eget gravida cum sociis natoque. Diam sit amet nisl suscipit adipiscing bibendum. Turpis massa tincidunt dui ut ornare lectus sit. Vulputate odio ut enim blandit volutpat maecenas volutpat. Sem integer vitae justo eget magna fermentum iaculis eu.

Eu nisl nunc mi ipsum faucibus vitae aliquet. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Laoreet non curabitur gravida arcu ac tortor. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Sagittis eu volutpat odio facilisis mauris sit amet. Ut etiam sit amet nisl. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Nibh ipsum consequat nisl vel pretium lectus. Nunc consequat interdum varius sit. Pretium fusce id velit ut tortor pretium viverra suspendisse. Enim lobortis scelerisque fermentum dui faucibus. Feugiat in fermentum posuere urna nec tincidunt praesent. Sit amet dictum sit amet justo donec enim diam. Vitae nunc sed velit dignissim sodales. A arcu cursus vitae congue mauris rhoncus aenean vel. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Id consectetur purus ut faucibus pulvinar elementum integer enim. A diam maecenas sed enim ut.

Ut tortor pretium viverra suspendisse potenti nullam ac tortor. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. Quis vel eros donec ac. Magna sit amet purus gravida quis blandit turpis cursus in. Sit amet mattis vulputate enim nulla aliquet porttitor. Leo urna molestie at elementum eu facilisis sed odio morbi. Morbi tristique senectus et netus et malesuada fames ac turpis. Quam quisque id diam vel quam. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Erat nam at lectus urna duis convallis. Et tortor at risus viverra adipiscing at. Pellentesque adipiscing commodo elit at. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac.

Sed turpis tincidunt id aliquet risus feugiat. Ornare arcu odio ut sem. Consequat nisl vel pretium lectus. Consequat id porta nibh venenatis cras sed felis eget. In ante metus dictum at tempor commodo. Blandit turpis cursus in hac habitasse. Viverra nibh cras pulvinar mattis nunc sed blandit. Nisl tincidunt eget nullam non nisi est sit. Etiam dignissim diam quis enim. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Massa enim nec dui nunc mattis enim ut tellus elementum.

Rhoncus urna neque viverra justo nec ultrices dui. Vitae aliquet nec ullamcorper sit amet risus nullam eget. Auctor eu augue ut lectus arcu. Lobortis elementum nibh tellus molestie nunc. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Nibh ipsum consequat nisl vel pretium lectus quam id. Volutpat est velit egestas dui id. Id nibh tortor id aliquet lectus proin nibh. Eget arcu dictum varius duis at consectetur. Tempor orci dapibus ultrices in. Et odio pellentesque diam volutpat.

Quisque sagittis purus sit amet volutpat consequat mauris nunc. Ac tincidunt vitae semper quis. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Quisque egestas diam in arcu. Ac feugiat sed lectus vestibulum. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Ut placerat orci nulla pellentesque. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Leo integer malesuada nunc vel risus commodo viverra. Pretium nibh ipsum consequat nisl vel. In mollis nunc sed id semper risus in hendrerit. Sed enim ut sem viverra aliquet eget sit.

Elementum facilisis leo vel fringilla. Aliquet porttitor lacus luctus accumsan tortor posuere ac. Sit amet commodo nulla facilisi. Ullamcorper sit amet risus nullam eget felis eget nunc lobortis. Ac turpis egestas sed tempus. Leo vel fringilla est ullamcorper. Mi eget mauris pharetra et ultrices neque ornare aenean. Nunc id cursus metus aliquam eleifend mi in. Vel turpis nunc eget lorem dolor sed viverra ipsum. Ut sem nulla pharetra diam sit amet nisl suscipit. Senectus et netus et malesuada fames ac turpis egestas. Vitae auctor eu augue ut.

Quis vel eros donec ac odio tempor orci. Pellentesque adipiscing commodo elit at. Purus non enim praesent elementum facilisis leo. Malesuada nunc vel risus commodo. Aenean pharetra magna ac placerat vestibulum lectus. Porttitor eget dolor morbi non arcu risus quis. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Massa enim nec dui nunc mattis enim. Elementum facilisis leo vel fringilla est ullamcorper eget. Eu facilisis sed odio morbi. Massa tempor nec feugiat nisl pretium fusce id velit ut.

Metus dictum at tempor commodo ullamcorper a lacus. Sed viverra tellus in hac. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Vel pretium lectus quam id leo in. Maecenas volutpat blandit aliquam etiam erat velit. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Diam ut venenatis tellus in. In hac habitasse platea dictumst. Tristique nulla aliquet enim tortor at auctor urna nunc id. Purus in massa tempor nec feugiat nisl pretium. Viverra justo nec ultrices dui sapien eget. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed.

Vestibulum morbi blandit cursus risus at ultrices mi tempus. Augue interdum velit euismod in. Consectetur adipiscing elit ut aliquam purus sit amet luctus. Vitae turpis massa sed elementum tempus egestas. Nam libero justo laoreet sit amet cursus. Arcu risus quis varius quam quisque. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Erat nam at lectus urna duis convallis convallis tellus id. Venenatis lectus magna fringilla urna porttitor rhoncus dolor. At augue eget arcu dictum. Eget mauris pharetra et ultrices. Tortor at risus viverra adipiscing at in. Mi bibendum neque egestas congue quisque egestas diam in.

Imperdiet proin fermentum leo vel orci. At urna condimentum mattis pellentesque id nibh tortor. Cras tincidunt lobortis feugiat vivamus at augue. Risus feugiat in ante metus dictum at tempor commodo. Eros in cursus turpis massa tincidunt dui ut ornare. Dolor sit amet consectetur adipiscing. Suspendisse sed nisi lacus sed viverra tellus in hac habitasse. Volutpat diam ut venenatis tellus in metus vulputate. Volutpat sed cras ornare arcu dui vivamus. Amet dictum sit amet justo donec enim diam. Quis lectus nulla at volutpat. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Tempus iaculis urna id volutpat lacus laoreet. Pretium nibh ipsum consequat nisl. Quis varius quam quisque id diam vel quam. Id aliquet lectus proin nibh nisl. Vel pharetra vel turpis nunc eget lorem dolor sed. Sed nisi lacus sed viverra tellus.

Aliquet sagittis id consectetur purus ut faucibus. Iaculis at erat pellentesque adipiscing commodo elit at. Lacus sed turpis tincidunt id aliquet risus feugiat. Ac tortor vitae purus faucibus ornare. Auctor urna nunc id cursus metus aliquam. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Lacus sed turpis tincidunt id aliquet risus. Gravida rutrum quisque non tellus orci ac. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Hac habitasse platea dictumst quisque.

Ultrices mi tempus imperdiet nulla malesuada pellentesque. Pretium vulputate sapien nec sagittis aliquam malesuada. Tellus at urna condimentum mattis. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Sed turpis tincidunt id aliquet. Sit amet mattis vulputate enim. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Aliquet eget sit amet tellus cras adipiscing. Est ultricies integer quis auctor elit sed vulputate mi. Dolor purus non enim praesent elementum facilisis leo.

Massa tincidunt dui ut ornare lectus. Vitae auctor eu augue ut lectus. Pharetra sit amet aliquam id. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Vitae sapien pellentesque habitant morbi tristique. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu. Metus aliquam eleifend mi in nulla posuere sollicitudin. Semper viverra nam libero justo laoreet sit amet cursus. Risus quis varius quam quisque. Donec ultrices tincidunt arcu non sodales neque sodales. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Nisi scelerisque eu ultrices vitae auctor eu augue. Egestas integer eget aliquet nibh praesent tristique magna.

Leo in vitae turpis massa. Rutrum quisque non tellus orci ac auctor augue mauris augue. Interdum varius sit amet mattis vulputate enim nulla aliquet. Netus et malesuada fames ac turpis egestas maecenas. Gravida quis blandit turpis cursus in hac. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Egestas erat imperdiet sed euismod. Vel pretium lectus quam id leo. Adipiscing diam donec adipiscing tristique risus nec. Nam aliquam sem et tortor consequat id porta nibh. Nulla pellentesque dignissim enim sit amet venenatis urna. Orci eu lobortis elementum nibh tellus molestie nunc non. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Lorem ipsum dolor sit amet consectetur adipiscing.

Purus non enim praesent elementum facilisis leo vel. Ipsum dolor sit amet consectetur adipiscing. Morbi non arcu risus quis varius quam quisque id. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Vitae turpis massa sed elementum tempus. Eleifend mi in nulla posuere. Massa vitae tortor condimentum lacinia quis vel eros donec ac. Amet justo donec enim diam vulputate ut pharetra sit amet. Elementum eu facilisis sed odio morbi quis commodo. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Tristique senectus et netus et malesuada. Nisi lacus sed viverra tellus. Volutpat diam ut venenatis tellus in metus. Nec feugiat in fermentum posuere urna. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada.

Non enim praesent elementum facilisis leo vel fringilla. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Id consectetur purus ut faucibus pulvinar elementum integer enim. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Eget magna fermentum iaculis eu non diam phasellus. Est lorem ipsum dolor sit amet. Eros in cursus turpis massa tincidunt dui. Leo duis ut diam quam. Enim nec dui nunc mattis enim ut tellus. Massa eget egestas purus viverra accumsan in nisl. Placerat vestibulum lectus mauris ultrices. Vitae aliquet nec ullamcorper sit amet. Dui ut ornare lectus sit amet. Cursus mattis molestie a iaculis at erat. Vitae justo eget magna fermentum iaculis eu non diam. Pulvinar etiam non quam lacus suspendisse faucibus. Scelerisque varius morbi enim nunc faucibus a.

Rutrum quisque non tellus orci ac. Dolor sit amet consectetur adipiscing elit. Sed risus ultricies tristique nulla aliquet enim. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Cursus in hac habitasse platea dictumst quisque sagittis. Eget arcu dictum varius duis at consectetur lorem donec. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Mi tempus imperdiet nulla malesuada pellentesque elit. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Pellentesque eu tincidunt tortor aliquam. Mattis enim ut tellus elementum sagittis vitae et leo duis. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Ut eu sem integer vitae justo eget magna fermentum. In massa tempor nec feugiat nisl pretium fusce id. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit.

Ut tellus elementum sagittis vitae et. Ultricies mi eget mauris pharetra et. Ornare lectus sit amet est placerat in egestas erat imperdiet. Nibh sit amet commodo nulla facilisi nullam. Pellentesque elit eget gravida cum sociis natoque. Non pulvinar neque laoreet suspendisse interdum. Duis convallis convallis tellus id interdum velit laoreet. Lobortis elementum nibh tellus molestie nunc non. Urna condimentum mattis pellentesque id nibh tortor. Amet consectetur adipiscing elit duis tristique. Lobortis mattis aliquam faucibus purus in massa. Nisl suscipit adipiscing bibendum est ultricies. Volutpat ac tincidunt vitae semper quis. Nulla porttitor massa id neque aliquam vestibulum.
</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
